<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog form</title>
</head>
<body>
    <form action="{{ path('dog_form') }}">
        <label for="id">Id: </label>
        <input type="number" name="id" id="id">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="breed">Breed: </label>
        <input type="text" name="breed" id="breed">
        <label for="age">Age: </label>
        <input type="number" name="age" id="age">
        <button>Submit</button>
    </form>
    {% if dog != null %}
        <ul> Dog number {{dog.id}}
            <li>Name: {{dog.name}}</li>
            <li>Breed: {{dog.breed}}</li>
            <li>Age: {{dog.age}}</li>
        </ul>
    {% else %}
        <p>Remplissez tout les form!</p>
    {% endif %}
   
    
</body>
</html>