<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Exercise</title>
</head>
<body>
    {{number}}
    {% if number >= 6 %}
        <p>You Won</p>

    {% endif %}
</body>
</html>